# OS files
Thumbs.db
.DS_Store
.nyc_output

# IDE files
.idea

# Logs
logs
log
*.log

node_modules
npm-debug.log
/.DS_Store

# Local Configuration
config/local.yaml
config/local*.yaml

.coveralls.yml
