version: 2.1
orbs:
  node: circleci/node@5.1.0

jobs:
  buildAndTest:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - node/install-packages
      - run: npm run build
      - run: npm test
      - run: curl -Ls -o codacy-coverage-reporter https://artifacts.codacy.com/bin/codacy-coverage-reporter/13.15.1/codacy-coverage-reporter-linux
      - run: chmod +x codacy-coverage-reporter
      - run: ls -ltra coverage
      - run: ./codacy-coverage-reporter report -r coverage/lcov.info

workflows:
  version: 2
  build_and_test:
    jobs:
      - buildAndTest
